body{
    background-color: rgb(211, 152, 203);
font-family: Georgia, 'Times New Roman', Times, serif;
overflow-x: hidden;
}
#menu li > a {
font-size: 18px;
font-weight: bold;
color: #3f3f3f;
}
#menu form > button {
    font-size: 18px;
    font-weight: bold;
}
.carousel-inner{
    max-height: 50rem;
}
#header{
    background: linear-gradient(violet pink) !important;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
    #iconos{
        display: flex;
        justify-content: center !important;
    }
}
